#hero {
  background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
  background-size: cover;
  background-position: center 20%;
  color: white;

  .container {
    padding: 200px 0;

    img {
      width: 70px;
    }

    .btn {
      margin-right: 10px;
    }
  }

}
