// containers
$container: 1280px;
$container_small: 800px;

// font sizes
$font_normal: 18px;
$font_big: 36px;

// line height
$line_height_p: 1.5;

// colors
$main_color: #1473e6;
$main_color_dark: #0d66d0;
$text_color: #2c2c2c;
